<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>{% block title %}BigDoudou{% endblock %}</title>

    <!--pageMeta-->
    {% block stylesheets %}
        <!-- Loading Bootstrap -->
        <link href="{{ asset('appbundle/css/bootstrap.css') }}" rel="stylesheet">
        <!-- Loading Elements Styles -->
        <link href="{{ asset('appbundle/css/style.css') }}" rel="stylesheet">
        <!-- Loading Magnific-Popup Styles -->
        <link href="{{ asset('appbundle/css/magnific-popup.css') }}" rel="stylesheet">
        <!-- Datepicker Styles -->
        <link href="{{ asset('appbundle/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
        <!-- Custom Styles -->
        <link href="{{ asset('appbundle/css/custom.css')  }}" rel="stylesheet">
        <link href="{{ asset('appbundle/css/font-awesome-4.6.3/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% endblock %}

    <!-- Favicons -->
    <link rel="icon" href="{{ asset('appbundle/images/favicons/favicon-bigdoudou.png') }}" >
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->

    <!--[if lt IE 9]>
    <script src="{{ asset('appbundle/scripts/html5shiv.js') }}"</script>
    <script src="{{ asset('appbundle/scripts/respond.min.js') }}"</script>
    <![endif]-->
    <!--headerIncludes-->

    <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.getsmartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '25bc9bd921ba8d8bfdbae33577e1c76363a02a0e');
</script>
</head>
<body data-spy="scroll" data-target=".navMenuCollapse">
    <div id="wrap">
        {% include '::nav.html.twig' %}
        {% block body %}{% endblock %}  
    </div>
        {% include '::footer.html.twig' %}
        {% block javascripts %}
            <script src="{{ asset('appbundle/scripts/jquery-1.11.2.min.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/bootstrap.min.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/smoothscroll.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/jquery.smooth-scroll.min.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/placeholders.jquery.min.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/bootstrap-datepicker.min.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/bootstrap-datepicker-fr.js') }}"></script>
            <script src="{{ asset('appbundle/scripts/custom.js') }}"></script>
        {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80179403-1', 'auto');
        ga('send', 'pageview');

    </script>
    
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1756696844585870');
    {% block facebook_pixel %}{% endblock %}</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1756696844585870&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</body></html>
