{% extends '::layout.html.twig' %}
{% block body %}
    {{ block('flashBag') }}
    <!-- INTRO SLIDER -->
    <header id="intro-half-left-3" class="intro-block bg-color3 screen-height fixed-bg" data-selector="header">
        <div class="col-md-2 col-md-offset-10 promo_logo">
            <img style="max-height: 140px;" src="{{ asset('appbundle/images/livraison_gratuite.png') }}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="slogan">
                        <h2 data-selector="h2"><strong>Faites-lui livrer un nounours géant et rendez-la heureuse</strong><br>
                            Choisissez l'heure.<br>
                            Choisissez le lieu de livraison.<br>
                            Laissez nous faire.
                        </h2>
                        <span class="promo_span">Offre de lancement : 10% de réduction sur les pré-commandes</span>
                        <p data-selector="p"></p>
                    </div>
                    <a class="btn btn-lg btn-primary goto" href="#benefits-line" data-selector="a.btn, a.download-btn, button.btn, a.goto"><i class="icon icon-speech" data-selector=".icon"></i>Comment ça marche ?</a>
                </div>
            </div>
        </div>
    </header>


    <section id="benefits-line" class="bg-color3 third-padding pattern-bg" style="background-image: url('{{ asset('appbundle/images/pattern-bg4.jpg') }}');">
        <div class="container">
            <h2 class="big-title text-center" data-selector="h2">3 étapes</h2>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="item-list-left">
                        <li>
                            <img class="img-step" src="{{ asset('appbundle/images/nounours.png') }}">
                            <h3 class="text-center sep-zero-bottom">Choisissez un nounours</h3>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="item-list-left">
                        <li>
                            <img class="img-step" src="{{ asset('appbundle/images/lovecard.png') }}">
                            <h3 class="text-center sep-zero-bottom">Ajoutez un petit mot</h3>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="item-list-left">
                        <li>
                            <img class="img-step" src="{{ asset('appbundle/images/livraison.png') }}">
                            <h3 class="text-center sep-zero-bottom">Choisissez une date et un lieu de livraison</h3>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <h3 class="text-center third-padding">On s'occupe du reste.</h3>
    </section>
    {{ form_start(form, {'attr': {'role': 'form', 'id': 'form'} }) }}
    <section id="download-half-app-image" data-selector="section" class="section-nounours-choice">
        <div class="col-md-7 col-md-offset-4">
            <h2 class="text-center" data-selector="h2">Choisissez la taille</h2>
            <div class="row">
                <div class="col-md-5 h_btn">
                    <input type="radio" name="radio" id="radio1" class="radio" value="1" checked/>
                    <label for="radio1" id="radio1lab" class="download-btn text-center"><i class="fa fa-check-square-o" data-selector=".icon"></i>GRAND NOUNOURS (1m)<b>60€</b></label>
                </div>
                <div class="col-md-5 col-md-offset-2 h_btn">
                    <input type="radio" name="radio" id="radio2" class="radio" value="2"/>
                    <label for="radio2" id="radio2lab" class="download-btn text-center"><i class="fa fa-square-o" data-selector=".icon"></i>NOUNOURS GEANT (1.5m)<b>120€</b></label>
                </div>
            </div>
        </div>
    </section>
    <section id="element-rent-form" class="intro-block bg-color3 cover-bg half-padding" style="background-repeat: repeat; background-size: 10%; background-image:url('{{ asset('appbundle/images/pattern-bg4.jpg') }}')" data-selector="section">
        <div class="" style="position: absolute;width: 10%;min-width: 80px;right: 10%;top: 10%;">
            <img style="width:100%" src="{{ asset('appbundle/images/livraison_gratuite.png') }}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h3 class="title" data-selector="h3">Votre email</h3>
                    <div class="form-group sep-half-bottom">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'pattern': '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$'}}) }}
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h3 class="title" data-selector="h3">Zone de livraison</h3>
                    <div class="form-group sep-half-bottom">
                        {{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'placeholder': 'Code Postal', 'pattern': '[0-9]{5}'}}) }}
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-7" style="padding-top: 62px;">
                    <button type="submit" id="rent_submit" class="btn btn-lg btn-block btn-primary">Bénéficier de l'offre<br>10% de réduction</button>
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#radio1lab').click(function() {
            $('#{{ form.produit.vars.id }}').val('1');
        });
        $('#radio2lab').click(function() {
            $('#{{ form.produit.vars.id }}').val('2');
        });
        $('#modalMessage').modal('show');
        $('.js-scrollTo').on('click', function() { // Au clic sur un élément
            //var page = $(this).attr('href'); // Page cible
            //var speed = 750; // Durée de l'animation (en ms)
            //$('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            //$('#commande_message').focus();
            return false;
        });
    </script>
{% endblock %}

{%  block flashBag %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
                <div class="modal fade in" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 class="modal-title">{{ type }}</h3>
                            {{ message|raw }}
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% endfor %}
{% endblock %}