{% extends 'ShopBundle:Commande:layoutCommandeStep.html.twig' %}
{% block BodyCommandeStep %}
	{{ form_start(form, {'attr': {'role': 'form', 'id': 'form'} }) }}
		<div class="row">
			<div class="col-sm-6">
				<label for="{{ form.email.vars.id }}" class="control-label">Votre email *</label>
				{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'pattern': '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$'}}) }}
			</div>
			<div class="col-sm-6">
				<label for="{{ form.email.vars.id }}" class="control-label">Code postal de destination *</label>
				{{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'placeholder': 'Code Postal', 'pattern': '[0-9]{5}'}}) }}
			</div>
		</div>
		<div class="row marginT30">
			<div class="form-group">
				<div class="col-sm-12">
					<label for="radio1" class="control-label">Choisissez la taille du BigDoudou *</label>
				</div>
				<div class="col-sm-6 h_btn">
                    <input type="radio" name="radio" id="radio1" class="radio" value="1" checked/>
                    <label for="radio1" id="radio1lab" class="download-btn text-center"><i class="fa fa-check-square-o" data-selector=".icon"></i>GRAND NOUNOURS (1m)</label>
	            </div>
				<div class="col-sm-6 h_btn">
                    <input type="radio" name="radio" id="radio2" class="radio" value="2"/>
                    <label for="radio2" id="radio2lab" class="download-btn text-center"><i class="fa fa-square-o" data-selector=".icon"></i>NOUNOURS GEANT (1.5m)</label>
	            </div>
            </div>
		</div>
		<div class="row marginT30 marginB20 marginT80lg">
			<div class="col-sm-4 col-sm-offset-4">
				<button type="submit" id="rent_submit" class="btn btn-block btn-primary">Offrir un BigDoudou</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 marginT30">
				<p style="color: #989898; font-size: 0.8em;">* champs obligatoires</p>
			</div>
		</div>
		{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
