{% extends 'ShopBundle:Commande:layoutCommandeStep.html.twig' %}
{% block BodyCommandeStep %}
	{{ form_start(form, {'attr': {'role': 'form', 'id': 'form'} }) }}
		<div class="row">
			<div class="col-sm-12">
				<label for="{{ form.message.vars.id }}" class="control-label">Votre message</label>
				{{ form_widget(form.message, {'attr': {'class': 'form-control textarea-message', 'placeholder': '', 'rows': '8'}}) }}
			</div>
		</div>
		<div class="row marginT30 marginB20 marginT80lg">
			<div class="col-sm-6 col-sm-offset-3">
				<button type="submit" id="rent_submit" class="btn btn-block btn-primary">Enregistrer mon message</button>
			</div>
		</div>
		{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}

{% block minititle %}
	<h3 class="mini_title">Joignez un message à votre cadeau</h3>
	<p class="subtext">Pensez à signer votre message ou jouez à l'admirateur secret</p>
{% endblock %}

{% block breadcrumb %}
	<div class="col-md-12 breadcrumb">
		<div class="checkout-wrap">
			<ul class="checkout-bar">
				<li class="visited">Informations</li>
				<li class="active">Message</li>
				<li class="next">Paiement</li>
			</ul>
		</div>
	</div>
{% endblock %}